<div>
<h1 > ERROR EN LA RUTA  </h1>

<a href="/api/users/inicio" class="btn btn-dark " tabindex="-1" role="button" aria-disabled="true">volver al formulario </a> 
</div>
<script type = "text/javascript" >
 setTimeout(() => {
    window.location.href = "http://localhost:8080/api/users/inicio" 
},2000)
   

</script>