extends main.pug 
 
block datos 
    if hasAny
      <table class="table table-dark table-hover">
        <thead>
         <tr>
              <th scope="col">  #</th>
              <th scope="col">Titulo</th>
              <th scope="col">Precio</th>
              <th scope="col">Imagen</th>
    

                <tbody>
  
                 each product in prods 
                    <tr>
                     th 
                        = product.id
                     td 
                        =product.title 
                     td 
                        = product.price
                     td
                        img(src=product.thumbnail , alt='login', style='width:100px;height:100px;')  
                
         div    
         <a href="/api/home" class="btn btn-dark" tabindex="-1" role="button" aria-disabled="true">volver al formulario </a> 
    else
    
     <div class="d-flex align-items-center">
         <strong>No hay productos</strong>


     <div class="ms-auto" role="status" aria-hidden="true"> 
         <a href="/api/home" class="btn btn-dark  " tabindex="-1" role="button" aria-disabled="true">volver al formulario 